.button {
	width: 100%;
	height: 100%;
	background-color: $secondary;
	border-radius: 50%;

	&--red {
		background-color: $sunset;
	}

	&__link {
		height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
		font-size: 200%;
		color: $dark;
	}
}