.card {
  & + & {
    margin-top: 20px;
  }
  &__content {  
    position: relative;
    margin: 0 15px;
		background: linear-gradient($back-top, $back-bot) ;
    border-radius: 5px;

    &::before {
      content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: -1;
			margin: -1px;
			border-radius: inherit;
			background: linear-gradient($border-top, $border-bot);
    }
  }

  &__title {
    padding: 10px 0;
    text-align: center;
    color: $gray;
  }
  
  &__link {

  }
}