.nav {
  position: sticky;
  top: 0;
  height: 120px;
  justify-content: space-between;
  color: $white;
  background: linear-gradient($back-top, $back-bot);
  box-shadow: 0 10px 5px 0 rgba(0,0,0,0.75);
  border-radius: 0 0 5px 5px;
  margin-bottom: 30px;
  padding: 20px;
  z-index: 999;
  
  &__bloc {
    display: flex;
    height: 60px;
    overflow: hidden;
  }

  &__profil {
    transform: translateY(10px);
    margin: 0 20px;
    width: 100px;
    height: 100px;
  }

  &__logout {
    margin: 4px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.75);
    border-radius: 50%;
    transition: box-shadow ease 300ms;

    &:active {
      box-shadow: none;
    }
  }

  &__go-back {
    width: 30px;
    height: 20px;
    border-radius: 5px;
  }
}