$black: #000;
$white: #fff;
$white-40: rgba(255, 255, 255, 0.4);
$grey-light: #ecf0f1;
$dark: #202429;
$dark-80: #2E3236;
$cuicui: #F8D32D;
$secondary: #E2BD2A;
$dark-sec: #4E5257;
$sunset: #ff5e57;

// News colors

$back-top: #353A40;
$back-bot: #16171B;

$border-top: #424750;
$border-bot: #202326;

$gray: #7F8489;

$blue-top: #016BB8;
$blue-bot: #11A8FD;

$btn-dark-top: #2F353A;
$btn-dark-bot: #1C1F22;
